body {
  font-family: 'Lora';
  background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/wallpaper1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

p {
  line-height: 1.75;
}

input {
  background-color: rgba(255, 255, 255, 0.7);
}

/*----------------------------PARAMETROS DEL ENCABEZADO DE PAGINA-----------------------------*/

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1rem;
}

/*------------------------------ PARAMETROS DE BARRA DE NAVEGACIÓN ------------------------------*/

#mainNav {
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Raleway';
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
}

#mainNav .navbar-brand {
  color: rgba(255, 255, 255, 0.6);
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 900;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

/*----------------------------PARAMETROS DEL PIE DE PAGINA-----------------------------*/

.footer {
   background-color: rgba(0, 0, 0, 0.6);
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

.text-faded {
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 2rem!important;
  padding-top: 0rem!important;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}